---
import { Image } from 'astro:assets'
import { Icon } from 'astro-icon/components'
import Button from '@components/shared/Button.astro'
import sunrise from '@images/illustrations/sunrise.svg'
import highlight from '@images/illustrations/underline-simple-light-purple.svg'
---

<section class="bg-white py-24 sm:py-32">
  {/* Container */}
  <div class="mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8">

    {/* Header */}
    <h2 class="h1 mx-auto mt-6 max-w-3xl text-center text-purple-900">
      <span class="block">Aim for Your</span>

      {/* Underlined text */}
      <span class="relative block">
        <span class="relative">
          <Image
            class="absolute inset-0 translate-y-9 transform sm:translate-y-11 xl:translate-y-14"
            src={highlight}
            alt=""
          />
          <span class="relative">Bright Future</span>
        </span>
      </span>
    </h2>

    {/* CTA button */}
    <div class="mt-12 flex justify-center xl:mt-14">
      <Button href="/contact">
        Free Consultation
        <Icon
          name="tabler:arrow-narrow-right"
          class="ml-3 h-6 w-6 group-hover:animate-horizontal-bounce"
        />
      </Button>
    </div>
  </div>
</section>
