---
import { Image } from 'astro:assets'

import image1 from '@images/bageledu/bagelEdu-2.jpeg'
import image2 from '@images/stock/school-grid-02.jpg'
import image3 from '@images/stock/school-grid-03.jpg'
import image4 from '@images/bageledu/bagelEdu-3.jpeg'
import image5 from '@images/stock/school-grid-05.jpg'

const images = [
  { src: image1, alt: 'Meeting room with colleagues' },
  { src: image2, alt: 'Teacher portrait' },
  { src: image3, alt: 'Teacher reading to students' },
  { src: image4, alt: 'Child writing on board with teacher' },
  { src: image5, alt: 'Classroom' },
]
---

<section class="bg-purple-25 px-4 pt-16 sm:px-6 lg:px-8">
  <!-- Container -->
  <div class="mx-auto max-w-screen-xl">
    <!-- Page header -->
    <div class="relative">
      <h2 class="h1 mx-auto max-w-3xl text-center text-purple-900 pt-24">
        Why BagelEdu
      </h2>
      <p
        class="mx-auto mt-4 max-w-2xl text-center text-xl leading-relaxed text-purple-800 sm:mt-5"
      >
      영어 실력을 키우려면, 똑똑하고 예리한 멘토와 좋은 주제로 대화하고, 이해하고 틀린 부분을 고쳐 나가야 합니다.
      </p>
    </div>
    {/* School images grid */}
    <div
      class="mt-14 grid grid-flow-row-dense grid-cols-2 gap-2 sm:mt-16 sm:grid-cols-3 sm:gap-3 md:gap-4 lg:mt-24 lg:gap-6"
    >
      {
        images.map((image, index) => (
          <>
            {index % 5 == 1 && (
              <Image
                class="col-span-2 h-30vw w-full rounded-2xl object-cover object-top lg:h-80"
                alt={image.alt}
                src={image.src}
              />
            )}

            {index % 5 != 1 && (
              <Image
                class="h-30vw w-full rounded-2xl object-cover lg:h-80"
                alt={image.alt}
                src={image.src}
              />
            )}
          </>
        ))
      }
    </div>
    {/* About school */}
    <div class="prose prose-lg mx-auto mt-14 sm:prose-xl sm:mt-16 lg:mt-24">
      <p>
        영∙미 명문대 학생들은 교수와 동료와의 치열한 토론과 설득의 환경 속에서 어떤 상황에서도 논리적으로 설득하고 생각을 구조화할 수 있는 능력을 훈련받습니다. 이러한 명문대 및 아이비리그 출신 튜터들은 영어로 직접 사고를 나누며, 실제로 쓰이는 고급 표현과 논리적인 문장을 만드는 방법을 가르칩니다.
      </p>
      <p>
        많은 원어민이 영어 학습을 도울 수 있지만, 우리는 단순히 일상 대화를 넘어 비즈니스 사례 분석과 깊이 있는 토론까지 함께할 수 있는 멘토의 중요성을 강조합니다.
또한, 교과 및 비교과 활동의 단순한 양적 성취를 넘어, 학생의 진로 희망과 성향, 특성에 맞춘 맞춤형 진로 설계를 제공합니다. 이를 통해 단순히 ‘균형 잡힌(well-rounded)’ 학생을 넘어, 대학에서 가장 선호하는 ‘특화된(spiked)’ 인재로 성장할 수 있도록 돕습니다.

      </p>
    </div>
  </div>
</section>
