---
import '@fontsource/gochi-hand'

const stats = [
  { label: '전체 튜터 수', value: '1,500명' },
  { label: '직장인/대학원생', value: '574명' },
  { label: '경영/경제 전공', value: '200명' },
  { label: '법학 전공', value: '60명' },
  { label: '공학 전공', value: '150명' },
  { label: '의학 전공', value: '50명' },
]
---

<section
  class="relative w-full bg-purple-600 px-4 py-16 sm:px-6 sm:py-24 lg:px-8"
>
  {/* Container */}
  <div class="mx-auto max-w-screen-xl">
    {/* Section header text */}
    <div>
      <h2 class="h2 mx-auto max-w-4xl text-center text-white">
        Undergraduate Admission Consulting  대학교 합격 리스트
      </h2>
    </div>
    {/* Stats */}
    <div
      class="mt-12 gap-y-16 sm:grid sm:grid-cols-3 sm:gap-x-6 sm:gap-y-12 md:gap-x-8 lg:gap-x-12"
    >
      {
        stats.map((stat, index) => (
          <div class:list={['text-center', { 'mt-12 sm:mt-0': index > 0 }]}>
            <h4 class="font-written text-6xl leading-none text-white lg:text-7xl">
              {stat.value}
            </h4>
            <p class="mt-0.5 text-base font-medium text-purple-50 sm:mt-1.5 lg:text-lg">
              {stat.label}
            </p>
          </div>
        ))
      }
    </div>
  </div>
</section>
