---
import { Image } from 'astro:assets'
import checkmark from '@images/illustrations/checkmark.svg'
import image from '@images/stock/values.jpg'

const values = [
  {
    value: 'Excellence and Innovation',
    description:
      'Lorem ipsum dolor sit amet, consectetur adipisicing elit, do eius mod tempor incididunt ut labore et',
  },
  {
    value: 'Creativity',
    description:
      'Lorem ipsum dolor sit amet, consectetur adipisicing elit, do eius mod tempor incididunt ut labore et',
  },
  {
    value: 'Trustworthiness',
    description:
      'Lorem ipsum dolor sit amet, consectetur adipisicing elit, do eius mod tempor incididunt ut labore et',
  },
  {
    value: 'Nurturing Individuality',
    description:
      'Lorem ipsum dolor sit amet, consectetur adipisicing elit, do eius mod tempor incididunt ut labore et',
  },
]
---

<section class="-mt-8 bg-white px-4 sm:mt-0 sm:px-6 sm:py-4 lg:px-8">
  {/* Container */}
  <div class="mx-auto max-w-3xl lg:max-w-screen-xl">
    <div class="lg:grid lg:grid-cols-2 lg:gap-10 xl:gap-16">
      {/* Section content */}
      <div class="flex flex-col justify-center">
        <h2 class="h2 text-purple-900 sm:text-center lg:text-left">
          Our core values and principles
        </h2>
        <p
          class="mx-auto mt-4 max-w-xl text-lg leading-relaxed text-purple-800 sm:text-center md:mt-5 lg:mx-0 lg:text-left"
        >
          Pellentesque in ipsum id orci porta dapibus. Nulla quis lorem ut
          libero malesuada feugiat. Donec rutrum congue leo eget malesuada.
          Curabitur non nulla sit amet nisl tempus convallis quis ac lectus.
        </p>
        {/* Values */}
        <div
          class="mt-10 grid max-w-4xl gap-6 sm:mx-auto sm:grid-cols-2 lg:mx-0 lg:max-w-md lg:grid-cols-1"
        >
          {
            values.map((item) => (
              <div class="flex">
                <div class="w-14">
                  <Image src={checkmark} class="h-7 w-7" alt="" />
                </div>
                <div class="w-full">
                  <h5 class="flex items-center text-xl font-semibold text-purple-900">
                    {item.value}
                  </h5>
                  <p class="mt-1 text-base text-purple-800">
                    {item.description}
                  </p>
                </div>
              </div>
            ))
          }
        </div>
      </div>
      {/* Section image */}
      <div class="mx-auto mt-16 w-full max-w-xl lg:mx-0 lg:mt-0 lg:max-w-none">
        <div class="aspect-h-4 aspect-w-3 relative">
          <Image
            class="absolute inset-0 h-full w-full rounded-3xl object-cover"
            src={image}
            alt="Parent carrying child"
          />
        </div>
      </div>
    </div>
  </div>
</section>
