---
---

<section class="bg-white py-24">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-4xl text-center">
      <h2 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-5xl">
        컨설팅을 함께한 학생들의 <span class="text-emerald-600">92%</span>가<br />
        자신이 원하는 학교에 합격했어요
      </h2>
      <p class="mt-6 text-lg leading-8 text-gray-600">
        학생이 원하는 학교에 합격하는 것은<br />
        인생에서 이루 말할 수 없는 성공 경험을 쌓는<br />
        첫 번째 시작입니다
      </p>
    </div>

    <div class="mx-auto mt-16 max-w-5xl">
      <div class="grid grid-cols-2 gap-8 md:grid-cols-3 lg:grid-cols-6">
        <img class="col-span-1 h-12 w-auto object-contain grayscale" src="/images/universities-logos/harvard.png" alt="Harvard" />
        <img class="col-span-1 h-12 w-auto object-contain grayscale" src="/images/universities-logos/princeton.png" alt="Princeton" />
        <img class="col-span-1 h-12 w-auto object-contain grayscale" src="/images/universities-logos/stanford.png" alt="Stanford" />
        <img class="col-span-1 h-12 w-auto object-contain grayscale" src="/images/universities-logos/yale.png" alt="Yale" />
        <img class="col-span-1 h-12 w-auto object-contain grayscale" src="/images/universities-logos/brown.png" alt="Brown" />
        <img class="col-span-1 h-12 w-auto object-contain grayscale" src="/images/universities-logos/penn.png" alt="UPenn" />
      </div>
      <div class="mt-8 grid grid-cols-2 gap-8 md:grid-cols-3 lg:grid-cols-6">
        <img class="col-span-1 h-12 w-auto object-contain grayscale" src="/images/universities-logos/columbia.png" alt="Columbia" />
        <img class="col-span-1 h-12 w-auto object-contain grayscale" src="/images/universities-logos/ucla.png" alt="UCLA" />
        <img class="col-span-1 h-12 w-auto object-contain grayscale" src="/images/universities-logos/duke.png" alt="Duke" />
        <img class="col-span-1 h-12 w-auto object-contain grayscale" src="/images/universities-logos/dartmouth.png" alt="Dartmouth" />
        <img class="col-span-1 h-12 w-auto object-contain grayscale" src="/images/universities-logos/cmu.png" alt="CMU" />
        <img class="col-span-1 h-12 w-auto object-contain grayscale" src="/images/universities-logos/berkeley.png" alt="Berkeley" />
      </div>
    </div>
  </div>
</section> 