---
import { Icon } from 'astro-icon/components'
import { CONTACT } from '@config'
---

<section
  class="relative -mb-52 w-full -translate-y-52 bg-white px-4 pt-56 sm:px-6 sm:pt-64 lg:px-8 lg:pt-72"
>
  {/* Contact information container */}
  <div class="mx-auto max-w-xl lg:max-w-screen-xl">
    {/* Section header */}
    <div class="lg:grid lg:grid-cols-2 lg:gap-16 xl:gap-32">
      <div class="flex items-center">
        <h2 class="h2 max-w-4xl text-purple-900">Contact information</h2>
      </div>
      <div class="mt-3 flex items-center sm:mt-4 lg:mt-0">
        <p class="text-lg text-purple-800 text-opacity-90 sm:text-xl">
          Dictum urna sed consectetur neque tristique pellentesque. Blandit
          amet, sed aenean erat arcu morbi.
        </p>
      </div>
    </div>
    {/* Contact information cards */}
    <div
      class="mt-12 grid grid-cols-1 gap-4 sm:mt-14 sm:grid-cols-4 sm:gap-6 lg:mt-20 lg:grid-cols-3 xl:gap-12"
    >
      {/* Address card */}
      <div
        class="rounded-3xl bg-yellow-200 px-4 py-8 sm:col-span-2 sm:p-8 lg:col-span-1"
      >
        <div class="flex sm:flex-col lg:flex-row">
          <div>
            <span
              class="flex h-14 w-14 items-center justify-center rounded-2xl bg-yellow-400"
            >
              <Icon name="map-pin" class="h-8 w-8 text-purple-700" />
            </span>
          </div>
          <div class="ml-6 flex-1 sm:ml-0 sm:mt-3 lg:ml-6 lg:mt-0">
            <h5 class="flex items-center text-xl font-semibold text-purple-900">
              Address
            </h5>
            <p class="mt-1.5 text-base leading-relaxed text-purple-800">
              {CONTACT.address}
            </p>
          </div>
        </div>
      </div>
      {/* Email card */}
      <div
        class="rounded-3xl bg-purple-50 px-4 py-8 sm:col-span-2 sm:p-8 sm:py-10 lg:col-span-1"
      >
        <div class="flex sm:flex-col lg:flex-row">
          <div>
            <span
              class="flex h-14 w-14 items-center justify-center rounded-2xl bg-purple-200"
            >
              <Icon name="mail" class="h-8 w-8 text-purple-700" />
            </span>
          </div>
          <div class="ml-6 flex-1 sm:ml-0 sm:mt-3 lg:ml-6 lg:mt-0">
            <h5 class="flex items-center text-xl font-semibold text-purple-900">
              Email us
            </h5>
            <p class="mt-1.5 text-base leading-relaxed text-purple-800">
              {CONTACT.email}
            </p>
          </div>
        </div>
      </div>
      {/* Phone number card */}
      <div
        class="rounded-3xl bg-rose-50 px-4 py-8 sm:col-span-2 sm:col-start-2 sm:p-8 sm:py-10 lg:col-span-1 lg:col-start-3"
      >
        <div class="flex sm:flex-col lg:flex-row">
          <div>
            <span
              class="flex h-14 w-14 items-center justify-center rounded-2xl bg-rose-200"
            >
              <Icon name="phone" class="h-8 w-8 text-purple-700" />
            </span>
          </div>
          <div class="ml-6 flex-1 sm:ml-0 sm:mt-3 lg:ml-6 lg:mt-0">
            <h5 class="flex items-center text-xl font-semibold text-purple-900">
              Call us
            </h5>
            <p class="mt-1.5 text-base leading-relaxed text-purple-800">
              {CONTACT.phone}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
