---
import MBAAPPTimeline from '@images/stock/mba-app-timeline.png'
import type { Program } from '@types'
import { Image } from 'astro:assets'

interface Props {
  program: Program
}

const {
  program: {
    data: { AdditionalSection: data, name },
  },
} = Astro.props
---

<section class="relative w-full px-4 py-16 sm:px-6 sm:py-24 xl:px-8">
  {/* Container */}
  <div class="mx-auto max-w-xl lg:max-w-screen-xl">
    <div class="lg:gap-0">
      {/* Section content */}
      <div class="flex flex-col justify-center pr-10 xl:pr-0">
        <h2 class="h2 mt-3.5 text-purple-900 sm:mt-4">
          {data.headline1}
        </h2>
        <p class="mt-3 text-lg leading-relaxed text-purple-800">
          {data.text1}
        </p>
        <div class="mt-12">
          <h2 class="h2 mt-3.5 text-purple-900 sm:mt-4">
            {data.headline2}
          </h2>
          <p class="mt-3 text-lg leading-relaxed text-purple-800">
            {data.text2}
          </p>
        </div>
      </div>
    </div>
  </div>

  
  
</section>
